<h2>Estado formulario</h2>
<form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
  Name: <input  id="name" formControlName="name"  placeholder="Enter Name">
  Age: <input formControlName="age"  placeholder="Enter Age">
  <button type="submit">Submit</button>
</form>

<p>Form status: {{ userForm.status | json }}</p>
<p>Valor: {{ userForm.value.name | json }}</p>
<p>Status name: {{ userForm.controls.name.valid | json }}</p>
<p [hidden]="userForm.controls.name.valid" class="text-danger">
  El nombre es requerido
</p>
<p [hidden]="userForm.controls.age.valid" class="text-danger">
  El año debe contener dos caracteres como maximo y es requerido
</p>

<h2>Crud</h2>
<div *ngFor="let player of players | async">
  <div>
    <span>{{player.name}}</span>
    <a (click)="find(player.id)">Ver</a>
    <a (click)="delete(player.id)">Eliminar</a>
  </div>
</div>

<div *ngIf="player != undefined">
  El jugador seleccionado es {{player.name}}
</div>
<input #idPlayerVar [(ngModel)]="idPlayer" placeholder="id" />
<button (click)="find(idPlayerVar.value)">Buscar jugador</button>

<p>Alta jugador</p>
<input #newPlayerId placeholder="Id del nuevo jugador" />
<input #newPlayerName placeholder="Nombre del nuevo jugador" />
<button (click)="create(newPlayerId.value, newPlayerName.value)">Nuevo jugador</button>

{{errorMessage}}